html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#header {
  height: 110px;
  width: 100%;
  margin: 0;
}

#text-cgs {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-family: monaco;
  color: rgb(54, 164, 201);
  left: 40px;
  bottom: 107px;
}

#header-img {
  position: relative;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  right: 40px;
  top: 10px;
}

#shopping-cart {
  position: relative;
  width: 40px;
  left: 85%;
  bottom: 30px;
}

#counter-container {
  height: 30px;
  width: 100%;
  margin: 0;
}


#count-id {
  position: relative;
  margin: 0;
  font-size: 20px;
  right: 115px;
  color: rgb(174, 87, 87);
  text-align: center;
  float: right;
  
}

#item-area {
  margin: 0 auto;
}
#card-container {
  position: relative;
  margin: 0 auto;
}
#card {
  text-align: center;
  padding: 16px;
  width: 240px;
  height: 400px;
  display: inline-grid;
  justify-self: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 50px;
  border-top: 1px;
  border-top-color: gray;
  border-top-style: solid;
}
#card-image {
  justify-self: center;
  height: 190px;
  width: 190px;
}
#nameId {
  font-size: 20px;
  font-family: arial;
}

#email-container {
  position: relative;
  width: 800px;
  height: 50px;
}
#emailForm {
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}